<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.tutorialsninja.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Top Menu test" >
        <classes>
            <class name="com.tutorialsninja.testsuite.TopMenuTest"/>
            <class name="com.tutorialsninja.testsuite.DesktopsPageTest"/>
            <class name="com.tutorialsninja.testsuite.LaptopAndNotebooksPageTest"/>
            <class name="com.tutorialsninja.testsuite.AccountRegisterPageTest"/>
            <class name="com.tutorialsninja.testsuite.AccountLoginPageTest"/>
        </classes>
    </test>
</suite>